Package: ws.hbang.lockkeyboard
Name: LockKeyboard
Depends: mobilesubstrate, firmware (>= 7.1)
Version: 1.0~beta3
Architecture: iphoneos-arm
Description: Passcode-style keyboard everywhere
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq
Section: Tweaks
