Package: ws.hbang.lockkeyboard
Name: LockKeyboard
Depends: mobilesubstrate, firmware (>= 7.1)
Version: 1.0~beta2
Architecture: iphoneos-arm
Description: Lock screen style keyboard everywhere
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Tweaks
